<div class="header pa">
    <nav class="navbar navbar-light bg-dark">
        <a class="navbar-brand pl-3" style="color:white" href="/">Homepage</a>
        <img src="images/profile.png" alt="Avatar" class="navbar-avatar mr-2">
    </nav>
</div>