
<!-- Content -->
<div class="row ">
  <!-- Menu -->
  <div class="col-sm-2 " style="border-right: 0.1px solid; border-color: rgb(88, 95, 104);">
    <div class="container pt-2" style="background-color: white;">
      <a class="dropdown-item" href="#">InForm TDTU</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="#">CNTT</a>
      <a class="dropdown-item" href="#">QTKD</a>
      <a class="dropdown-item" href="#">MARKETING</a>
    </div>
  </div>
  <!-- Post -->

  <div class="col-sm-7">
    <div class="component__post" style="background-color: white;">
      <div class="input-group mb-3">
        <div class="input-group-prepend">

          <img src="images/article.png" alt="article" class="input-group-icon">

          <input type="text" class="form-control" data-toggle="modal" data-target="#exampleModal" placeholder="Username"
            aria-label="Username" aria-describedby="basic-addon1" />
        </div>
      </div>
    </div>

    <div class="modal fade bg-light" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            Post
            <div class="input-group mb-3">

              <div class="container">
                <div class="row m-2"> <input type="text" class="form-control" style="height: 120px;"
                    aria-label="Text input with checkbox">
                </div>
                <div class="row m-2">
                  <div class="custom-file">
                    <input type="file" class="custom-file-input" id="inputGroupFile03"
                      aria-describedby="inputGroupFileAddon03">
                    <label class="custom-file-label" for="inputGroupFile03">Choose file</label>
                  </div>
                </div>
              </div>


            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--  -->
  <div class="col-sm-3" style="border-left: 0.1px solid; border-color: rgb(88, 95, 104);">
    <div class="component__Inform" style="background-color: white;">
      <div class="card">
        <div class="card-header">
          New Inform
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">News 1</li>
          <li class="list-group-item">News 2</li>
          <li class="list-group-item">News 3</li>
        </ul>
      </div>

    </div>
  </div>
</div>
</body>

</html>