<div class="row pt-3">
  <!-- Menu Faculty-->
  <div class="col-sm-2 " style="border-right: 0.1px solid; border-color: rgb(136, 140, 145);">
    <div class="container pt-2" style="background-color: white;">
      <a class="dropdown-item" href="#">InForm TDTU</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="#">CNTT</a>
      <a class="dropdown-item" href="#">QTKD</a>
      <a class="dropdown-item" href="#">MARKETING</a>
    </div>

  </div>
  <!-- Middle -->

  <div class="col-sm-7 ">

    <div class="post mb-3">
      <img src="images/profile.png" alt="article" class="post__icon">
      <input data-backdrop="false" type="text" class="post__input form-control " data-toggle="modal"
        data-target="#exampleModal" placeholder="What do you think ? " aria-describedby="basic-addon1" />
    </div>

    <div class="modal fade show" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal__title" id="exampleModalLabel">Create post</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="input-group mb-3">
              <div class="container">
                <div class="row m-2"> <input type="text" class="form-control" style="height: 120px;"
                    aria-label="Text input with checkbox">
                </div>
                <div class="row m-2">

                  <input type="file" class="filepond" width="">

                </div>
              </div>


            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Article -->
    <div class="card article">
      <div class="card-header">
        <img src="images/profile.png" alt="article" class="header-icon">
        <div class="header-group ml-2">
          <span class="group-title"><strong>You</strong></span>
          <p class="group-subtitle mb-2 text-muted">Date</p>
        </div>
        <button type="button" class="header-close close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="card-body">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
      </div>
      <div class="card-footer">
        <button class="btn like btn-outline-primary">Like</button>
        <button class="btn cmt btn-outline-success">Comment</button>
      </div>
    </div>

  </div>

  <!-- Menu Informs -->
  <div class="col-sm-3" style="border-left: 0.1px solid; border-color: rgb(136, 140, 145);">
    <div class="component__Inform" style="background-color: white;">
      <div class="card">
        <div class="card-header">
          New Inform
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">News 1</li>
          <li class="list-group-item">News 2</li>
          <li class="list-group-item">News 3</li>
        </ul>
      </div>
    </div>
  </div>
</div>
</body>

</html>