<div class="inform ml-3 mr-3">
    <div class="inform-header">
        <div class="filter mb-3">
            <select class="form-select form-select-sm" aria-label=".form-select-sm example">
                <option selected>Select Faculty</option>
                <option value="1">CNTT</option>
                <option value="2">QTKD</option>
                <option value="3">Law</option>
            </select>
        </div>

        <button type="button" class="btn btn-secondary btn-add-inform" data-toggle="modal"
            data-target="#postInformModal">Add new Inform</button>
    </div>
    <div class="inform-body">
        <% if( inform ){  %>
        <% inform.forEach( inf =>{ %>


        <div class="card inform-card mt-3">
            <div class="card-body">
                <h5 class="card-title"> <%= inf.title %>
                </h5>
                <h6 class="card-subtitle mb-2 text-muted">Khoa Công Nghệ Thông Tin | Date Submitted:
                    <%= inf.createAt  %>
                </h6>
                <p class="card-text"><%= inf.content %> </p>
                <a href="#" class="card-link">Xem thêm</a>

            </div>
        </div>
        <% }) %>
        <% } %>

    </div>
    <div class="inform-footer">

    </div>

    <div class="modal fade show" id="postInformModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <form class="modal-content" action="/informs/add" method="POST">
                <div class="modal-header">
                    <h5 class="modal__title" id="exampleModalLabel">Create post</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="input-group mb-3">
                        <div class="container">
                            <div class="row m-2">
                                <input type="text" class="form-control" name="nppptitle" placeholder="Title">
                            </div>
                            <div class="row m-2"> <textarea type="text" class="form-control" name="content"
                                    style="height: 120px;" aria-label="Text input with checkbox"
                                    placeholder="Content"></textarea>
                            </div>

                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Post</button>
                </div>
            </form>
        </div>
    </div>
</div>