<div class="inform ">
    <div class="inform-header">
        <div class="filter mb-3">
            <select class="form-select form-select-sm" aria-label=".form-select-sm example">
                <option selected>Select Faculty</option>
                <option value="1">CNTT</option>
                <option value="2">QTKD</option>
                <option value="3">Law</option>
            </select>
        </div>
    </div>
    <div class="inform-body">
        <div class="card inform-card mt-3">
            <div class="card-body">
                <h5 class="card-title">[HỖ TRỢ TRUYỀN THÔNG] CUỘC THI "RUNG CHUÔNG VÀNG 2021" KHOA TÀI CHÍNH NGÂN HÀNG
                </h5>
                <h6 class="card-subtitle mb-2 text-muted">Khoa Công Nghệ Thông Tin | Date Submitted: 17:39:7 - 19/3/2021
                </h6>
                <p class="card-text">Chào các em, Khoa CNTT thông tin đến sinh viên cuộc thi Rung chuông vàng 2021 Khoa
                    Tài Chính Ngân Hàng tổ chức như sau: Đối tượng tham gia: Tất cả sinh viên đang theo học các Khoa tại
                    trường Đại học Tôn Đức Thắng. Cách thức đăng ký: Thí sinh đăng ký online theo link Google Form
                    https://forms.gle/TJLW5ahYC856yTGm7 Thời gian dự kiến: Deadline đăng ký: hết ngày 27/2/2021 Thi vòng
                    loại (online): 6/3/2021 Thi chung kết: 21/3/2021.</p>
                <a href="#" class="card-link">Xem thêm</a>

            </div>
        </div>
        <div class="card inform-card mt-3">
            <div class="card-body">
                <h5 class="card-title">Thông báo nhận Giấy chứng nhận tốt nghiệp tạm thời - Đợt TN T1/2021
                </h5>
                <h6 class="card-subtitle mb-2 text-muted">Khoa Công Nghệ Thông Tin | Date Submitted: 10:32:22 -
                    13/3/2021
                </h6>
                <p class="card-text">Sinh viên đã có quyết định tốt nghiệp đợt T1/2021 liên hệ VPK giờ hành chính để
                    nhận giấy chứng nhận tốt nghiệp tạm thời. Sáng: 8H00 - 11H30 Chiều: 13H30 - 17H00 Khi đến nhận, SV
                    xuất trình CMND/CCCD hoặc thẻ SV còn rõ ảnh.</p>
                <a href="#" class="card-link">Xem thêm</a>

            </div>
        </div>

    </div>
    <div class="inform-footer">

    </div>
</div>