* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  background-color: #e7eaf1;
  font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.navbar-avatar {
  margin-left: auto;
  vertical-align: middle;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.row {
  background-color: #e7eaf1;
}

.post {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px auto;
  max-width: 700px;
  width: 100%;
  padding: 10px 25px;
  background-color: white;
  border-radius: 14px;
  border: 1px #c7c6c6 solid;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.post__icon {
  margin: auto 10px auto 0px;
  vertical-align: middle;
  width: 35px;
  height: 35px;
}

.post .form-control {
  border-radius: 20px;
  border: 1px white solid;
  background-color: #f0f2f5;
}

.modal {
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.modal .edit-image {
  width: 200px;
}

.modal.show {
  opacity: 1 !important;
}

.card.article {
  margin: 0px auto;
  max-width: 700px;
  width: 100%;
  margin-top: 30px;
  background-color: white;
  border-radius: 10px;
  border: 1px #c7c6c6 solid;
}

.card.article .card-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-top-right-radius: 18px;
  border-top-left-radius: 18px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-bottom: 20px;
  padding: .3rem 1.25rem;
}

.card.article .card-header .header-icon {
  margin: auto 10px auto 0px;
  vertical-align: middle;
  width: 35px;
  height: 35px;
}

.card.article .card-header .group-subtitle {
  font-size: 12px;
}

.card.article .card-header .header-close {
  margin-left: auto;
  margin-bottom: auto;
}

.card.article .card-header .downdown-menu.he {
  background-color: aqua;
}

.card.article img[name="edited-article"] {
  height: 100px;
}

.card.article .card-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.card.article .card-body .card-image {
  margin: auto;
  max-height: 300px;
  max-width: 500px;
  height: 80%;
  width: 80%;
  -o-object-fit: contain;
     object-fit: contain;
}

.card.article .card-footer {
  border-bottom-right-radius: 18px;
  border-bottom-left-radius: 18px;
  text-align: right;
}

.inform {
  position: relative;
  border-radius: 8px;
  margin: 2rem auto;
  border: 1px #c6c6c7 solid;
  background-color: white;
  padding: 1.4rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.inform .inform-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.inform .inform-header .filter .form-select {
  width: 200px;
}

.inform .inform-header .btn-add-inform {
  width: 100%;
  max-width: 200px;
  text-align: start;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.inform-body {
  max-width: 1000px;
  width: 100%;
}

.inform-body .card {
  background-color: rgba(238, 240, 246, 0.472);
}
/*# sourceMappingURL=style.css.map */