*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
html{
    background-color: rgb(231, 234, 241);
     font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
  }

.navbar-avatar {
  margin-left: auto;
  vertical-align: middle;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.row{
  background-color: rgb(231, 234, 241);
}
.post{
  display: flex;
  margin: 0px auto;
  max-width: 700px;
  width: 100%;
  padding: 10px 25px;
  background-color: white;
  border-radius: 14px;
  border: 1px rgb(199, 198, 198) solid;
  flex-direction: row;

  &__icon{
      
    margin: auto 10px auto 0px;
  
    vertical-align: middle;
    width: 35px;
    height: 35px;
    }
    .form-control{
      
        border-radius: 20px;
        border: 1px white solid;
      background-color: #f0f2f5;
    }
}
.modal{
  backdrop-filter: blur(5px);
  display: flex;
  flex-direction: column;
  
  .edit-image{
    width: 200px;
    // display: block;
    // margin-left: auto;
    // margin-right: auto;
  }
}
.modal.show{
  opacity: 1 !important;
}

.card.article{
  margin: 0px auto;
  max-width: 700px;
  width: 100%;
  margin-top: 30px ;
  background-color: white;
  border-radius: 10px;
  border: 1px rgb(199, 198, 198) solid;
  
  .card-header{
    display:flex;
    border-top-right-radius: 18px;
    border-top-left-radius: 18px;
    
    flex-direction: row;
    padding-bottom: 20px;
    padding: .3rem 1.25rem;
    .header-icon{
      margin: auto 10px auto 0px;
      vertical-align: middle;
      width: 35px;
    height: 35px;
    }
    .group-subtitle{
      font-size: 12px;
    }
    .header-close{
      margin-left: auto;
      margin-bottom: auto;
    }
    .downdown{
      &-menu.he{
        background-color: aqua;
      }
    }
  }
  img[name="edited-article"]{
    height: 100px;
  }
  .card-body{
    display: flex;
    flex-direction: column; 
    .card-image{
      margin:  auto;
      max-height: 300px;
      max-width: 500px;
      height: 80%;
      width: 80%;
      object-fit: contain;
    }
  }
  .card-footer{
    border-bottom-right-radius: 18px;
    border-bottom-left-radius: 18px;
    text-align: right;
   
  }
  
}
.inform{

  border-radius: 8px;
  margin: 2rem auto;
  border: 1px rgb(198, 198, 199) solid;
  background-color: rgb(255, 255, 255);
  padding: 1.4rem;
  max-width: 1100px;
  width:100%;
  &-header{
    
    .filter{
      .form-select{  
        width: 200px;
      }
    }
  .btn-add-inform{
    
    width: 100%;
    max-width: 200px;
    text-align: start;
    height: fit-content;
  }
  }
  
  &-body{
   
   width:100%;
   .card{
    background-color: rgba(238, 240, 246, 0.472);
    &-header{
      display: flex;
      flex-direction: row;
      .header-group{
        
      }

    }
   }
  }
}



  