*{
  background-color: rgb(231, 234, 241);
}
body {

  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.avatar {
  margin-left: auto;
  vertical-align: middle;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
